.week {
    background-color: #ECECEC;
    font-size: 17px;
}
.Monday p {
    color:#E92F2F ;
}
.Monday ul {
    color: #DC3939;
}
.Monday ul :first-child {
    background-color: #D6D6D6;
}
.Tuesday p {
    color: #E95E2F;
}
.Tuesday ul {
    color: #DC6239;
}
.Tuesday ul :nth-child(odd) {
    background-color: #D6D6D6;
}
.Wednesday p {
    color: #E9BB2F;
}
.Wednesday ul {
    color: #CCA429;
}
.Wednesday ul :nth-child(even) {
    background-color: #D6D6D6;
}
.Thursday p {
    color: #BAE92F;
}
.Thursday ul {
    color: #A3CC29;
}
.Thursday ul :nth-child(2n) {
    background-color: #D6D6D6;
}
.Friday p {
    color: #5DE92F;
}
.Friday ul {
    color: #51CC29;
}
.Friday ul :nth-child(-n+2) {
    background-color: #D6D6D6;
}